<h1>Editar Asistencia</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.client_path(@conn, :update, @client)) %>

<span><%= link "Volver", to: Routes.client_path(@conn, :index) %></span>
