<h1>Nueva asistencia</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.client_path(@conn, :create)) %>

<span><%= link "Volver", to: Routes.client_path(@conn, :index), class: "btn btn-primary" %></span>
